#############
## Misc.
#############
.gradle/
.idea/
build/
*.log*
*.lck*
run/*/hwserver-latest.log
run/*/conf/
run/_cleanRun/

# .class files

out/

# Example groups
run/*/groups/test_2/
run/*/groups/test_3/
