#############
## Misc.
#############
.gradle/
.idea/
*.iml
build/
*.log*
*.lck*
run/*/de.mlessmann.hwserver-latest.log
run/*/conf/
run/*

# .class files

out/

# Example groups
run/*/groups/test_2/
run/*/groups/test_3/
